body {
  overflow: hidden; /* Hide scrollbars */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* nav bar */
/* nav bar */
@media only screen and (min-width: 500px) {
  #aboutme {
    font-size: 2vw;
  }
  #nav-bar {
    font-size: 16px;
  }
  #nav-bar-nofix {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) and (min-width: 430px) {
  #aboutme {
    font-size: x-large;
  }
  #nav-bar {
    font-size: medium;
  }
  #nav-bar-nofix {
    font-size: medium;
  }
  #image-banner {
    top: initial !important;
  }
  #image-banner > img {
    height: initial !important;
  }
}

@media only screen and (max-width: 429px) and (min-width: 350px) {
  #aboutme {
    font-size: large;
  }
  #nav-bar {
    font-size: small;
  }
  #nav-bar-nofix {
    font-size: small;
  }
  #image-banner {
    top: initial !important;
  }
  #image-banner > img {
    height: initial !important;
  }
}
@media only screen and (max-width: 349px) {
  #aboutme {
    font-size: large;
  }
  #nav-bar {
    font-size: x-small;
  }
  #nav-bar-nofix {
    font-size: x-small;
  }
  #image-banner {
    top: initial !important;
  }
  #image-banner > img {
    height: initial !important;
  }
}

#nav-bar {
  position: fixed;
  padding: 10px 15px;
  width: 100%;
  z-index: 1000;
  background-color: black;
  /* font-size: 1em; */
}

#nav-bar-nofix {
  background-color: transparent;
  padding: 10px 15px;
  width: 100%;
  z-index: 1000;
  /* font-size :1.13em; */
}

#nav-bar:hover {
  animation: darken-nav 0.5s forwards;
}

@keyframes darken-nav {
  0% {
    background-color: black;
  }
  100% {
    background-color: rgb(28, 36, 36);
  }
}

#nav {
  display: inline-flex;
  list-style: none;
  justify-content: flex-end;

  margin: 0 0;

  width: 91%;
  padding-right: 2%;
}

#nav-name {
  position: absolute;
  float: left;
}

#nav-name > a {
  color: white;
  text-decoration: none;

  font-weight: bold;
}

#nav > li {
  padding-left: 3%;
  /* margin-right: 5em; */
}

#nav > li > a {
  color: gainsboro;
  text-decoration: none;

  padding: 5% 12% 7%;
  white-space: nowrap;
}

#nav > li > a:hover {
  border-radius: 6px;
  animation: fadein 0.5s forwards;
}

@keyframes fadein {
  0% {
    background-color: transparent;
    color: gainsboro;
  }
  100% {
    color: white;
    background-color: cornflowerblue;
  }
}
/* end nav bar */

/* image banner */
.image-banner {
  /* Set a specific height */
  height: 110vh;
  /* width: 105vw; */
  transform: translateX(-3vw) translateY(-5vh);

  /* Position and center the image to scale nicely on all screens */
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* overflow: hidden; */
  position: relative;
}

.image-banner > img {
  transform: translateX(-3vw) translateY(-5vh);
  height: 100%;
  /* width: 100%; */
  /* overflow: hidden; */
  position: relative;
}

#image-banner-about {
  /* position: fixed; */
  background-image: url("./img/hallwayscene.png");

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: blur(0px) brightness(70%);
}

#image-banner-credits {
  /* position: fixed; */
  background-image: url("./img/hallwayscene.png");

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: blur(0px) brightness(70%);
}

#image-banner-leader {
  /* position: fixed; */
  background-image: url("./img/hallwayscene.png");

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: blur(0px) brightness(70%);
}
/* end image banner */
/* 
.pageDiv {
  padding-top: 8vh;
} */

#aboutPage {
  position: absolute;
  top: 0;
  width: 50vw;
  height: 100vh;
  margin: 0 25vw;

  /* background-color: #11151b; */
  background-color: black;
  filter: none;
}

#aboutText {
  color: floralwhite;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em 4em;
  width: 80%;
}

.aboutTextAlignL {
  text-align: left;
}

#leaderText {
  color: floralwhite;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em 3em;
  width: 80%;
}

.dropdown {
  color: black;
  width: 100%;
}

.header {
  text-align: center;
}

.boardScore {
  padding-left: 70%;
}

.boardItem {
  list-style: none;
}
