/* responsive design */
/* nav bar */
/* @media only screen and (min-width: px) { */

@media only screen and (max-width: 1200px) and (min-width: 850px) {
  #aboutText {
    left: 35% !important;
    top: 10% !important;
  }
  #nav {
    width: 73% !important;
  }
}

@media only screen and (max-width: 850px) and (min-width: 700px) {
  #aboutme {
    font-size: 2vw;
  }
  #nav-bar {
    font-size: 16px;
  }
  #nav-bar-nofix {
    font-size: 16px;
  }
  #nav {
    width: 70% !important;
  }
  #aboutText {
    left: 12em !important;
    top: 1em !important;
    font-size: smaller !important;
  }
}

@media only screen and (max-width: 700px) and (min-width: 500px) {
  #aboutme {
    font-size: 2vw;
  }
  #nav-bar {
    font-size: 16px;
  }
  #nav-bar-nofix {
    font-size: 16px;
  }
  #nav {
    width: 83% !important;
  }
  #aboutText {
    left: 9.5em !important;
    top: 1em !important;
    font-size: small !important;
  }
  .postBannerPage {
    padding-top: 4vh !important;
  }
}

@media only screen and (max-width: 500px) and (min-width: 430px) {
  #aboutme {
    font-size: x-large;
  }
  #nav-bar {
    font-size: medium;
  }
  #nav-bar-nofix {
    font-size: medium;
  }
  #image-banner {
    top: initial !important;
  }
  #image-banner > img {
    height: initial !important;
  }
  #nav {
    width: 65% !important;
  }
  #aboutText {
    left: 9em !important;
    top: 1em !important;
    font-size: x-small !important;
  }
  .postBannerPage {
    padding-top: 4vh !important;
  }
}

@media only screen and (max-width: 429px) and (min-width: 350px) {
  #aboutme {
    font-size: large;
  }
  #nav-bar {
    font-size: small;
  }
  #nav-bar-nofix {
    font-size: small;
  }
  #image-banner {
    top: initial !important;
  }
  #image-banner > img {
    height: initial !important;
  }
  #nav {
    width: 65% !important;
  }
  #aboutText {
    left: 6.5em !important;
    top: 1em !important;
    font-size: x-small !important;
  }
  .postBannerPage {
    padding-top: 4vh !important;
  }
}
@media only screen and (max-width: 349px) {
  h1 {
    font-size: 1.6em;
  }
  #aboutme {
    font-size: large;
  }
  #nav-bar {
    font-size: x-small;
  }
  #nav-bar-nofix {
    font-size: x-small;
  }
  #image-banner {
    top: initial !important;
  }
  #image-banner > img {
    height: initial !important;
  }
  #nav {
    width: 65%;
  }
  #aboutText {
    left: 4em !important;
    top: 1em !important;
    font-size: xx-small !important;
  }
  .postBannerPage {
    padding-top: 2vh !important;
  }
}
/* end responsive design */

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* nav bar */

#nav-bar {
  position: fixed;
  padding: 10px 15px;
  width: 100%;
  z-index: 1000;
  background-color: black;
  /* font-size: 1em; */
}

#nav-bar-nofix {
  background-color: transparent;
  padding: 10px 15px;
  width: 100%;
  z-index: 1000;
  /* font-size :1.13em; */
}

/* #nav-bar:hover {
  animation: darken-nav 0.5s forwards;
}

@keyframes darken-nav {
  0% {
    background-color: black;
  }
  100% {
    background-color: rgb(28, 36, 36);
  }
} */

#nav {
  display: inline-flex;
  list-style: none;
  justify-content: flex-end;

  margin: 0 0;

  width: 91%;
  padding-right: 2%;
}

#nav-name {
  position: absolute;
  float: left;
}

#nav-name > a {
  color: white;
  text-decoration: none;

  font-weight: bold;
}

#nav > li {
  padding-left: 3%;
  /* margin-right: 5em; */
}

.about-but {
  color: gainsboro;
  background-color: transparent;
  text-decoration: none;

  /* padding: 5% 12% 7%; */
  white-space: nowrap;
  border-style: none;
  font-weight: bold;
}

.about-but:hover {
  border-radius: 6px;
  animation: fadein 0.5s forwards;
}

@keyframes fadein {
  0% {
    background-color: transparent;
    color: gainsboro;
  }
  100% {
    color: white;
    background-color: cornflowerblue;
  }
}
/* end nav bar */

/* image banner */
.image-banner {
  height: 100%;
  width: 100vw;
  /* center image */
  display: block;
  margin: 0 auto;
  /* width: 50%; */
}

.image-banner > img {
  transform: translateX(-5%) translateY(-2%);

  width: 110%;
  /* overflow: hidden; */
  position: relative;
}

/* end image banner */
/*a
.pageDiv {
  padding-top: 8vh;
} */
.postBannerPage {
  padding-top: 10vh;
}

#aboutPage {
  /* position: absolute; */
  position: relative;
  display: block;
  margin: 0 auto;
  top: 0;
  width: 70vw;
  height: 100vh;
  /* margin: 0 25vw; */

  /* background-color: #11151b; */
  filter: none;
  z-index: 5;
}
#aboutPage > picture > img {
  position: absolute;
  left: 0;
  width: 100%;
}

#aboutText {
  position: absolute;
  color: floralwhite;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  left: 35% !important;
  top: 10% !important;
}

.aboutTextAlignL {
  text-align: left;
}

#leaderText {
  color: floralwhite;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em 3em;
  width: 80%;
}

.dropdown {
  color: black;
  width: 100%;
}

.header {
  text-align: center;
}

.boardScore {
  padding-left: 70%;
}

.boardItem {
  list-style: none;
}

#audio {
  position: fixed;
  top: 85vh;
  left: 75vw;
  z-index: 10;
}
